.section {
    background-image: url('../assets/images/landing/top_rect.svg') ;
    background-repeat: no-repeat;
    background-size: 100vw 900px;
    overflow: hidden;
    padding-top: 6.25rem;

    @media (max-width: 976px) {
      padding-top: 0;
    }
  }
  