$small-breakpoint: 440px;
$small-medium-breakpoint: 600px;
$medium-breakpoint: 878px;
$large-breakpoint: 976px;
$very-large-breakpoint: 1347px;
$larger-breakpoint: 1407px;
$largest-breakpoint: 1455px;